
body {
  font-family: sans-serif;
  background: #f5f5f5;
  padding: 30px;
}
h1 { text-align: center; }

.game {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.column {
  width: 200px;
}

.word {
  background: white;
  border: 2px solid #ccc;
  padding: 12px;
  margin: 8px 0;
  cursor: pointer;
  text-align: center;
  border-radius: 8px;
}

.word:not(.wrong):not(.correct):hover { background: #eee; }
.selected { border-color: #4a90e2; color: #4a90e2; }
.correct { background: #a5e6a5; color: #2e972e;}
.wrong { background: #f2a0a0; color: #a14646; }
.hidden { visibility: hidden; }

button {
  display: block;
  margin: 30px auto;
  padding: 10px 20px;
  font-size: 16px;
}

#score {
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
}

#lessonSelect {
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
}


