html, body {
  background-color: #ffffff !important;
  color: #000000; /* volitelně: černý text pro lepší kontrast */
  min-height: 100%;
  font-family: sans-serif;
  background-position: center top;
}

/* Sekce pro obrázek na pozadí */
.hero-section {
    position: relative;
    background-image: url("/test/static/pictures/uvod_1.JPG");/* Opravená cesta k obrázku */
    background-size: cover;
    background-position: center;
    z-index: 1;
    width: 100%;
    height: 100vh; /* Pokryje celou výšku okna */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    margin-top: -60px;
}

/* Overlay pro tmavší pozadí */
.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Poloprůhledné tmavé pozadí */
    z-index: 1; /* Overlay bude pod textem */
}

/* Navigace */
.navbar {
    position: sticky; /* absolute, sticky (funguje spatne) */
    top: 0;
    left: 0;
    right: 0;
    z-index: 2; /* Navigace bude nad overlay */
    background: rgba(0,0,0,0);
}
.navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.7) !important;
}
/* Navigacni panel - Kontakt */
.nav-kontakt {
    border: 2px solid black; /* rámeček */
    border-radius: 5px;
    border-color: white;
}
.nav-kontakt:hover {
    border: 2px solid black; /* rámeček */
    border-radius: 5px;
    border-color: #808080;
}
/* ------------------------- */
.navbar-brand {
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}
.navbar-brand:hover {
    color: #808080 !important; /* Změní barvu při hover */
}
.navbar-toggler {
    border-color: #808080 !important; /* bílý rámeček */
    background-color: rgb(255,255,255,0.7);
}
.navbar-toggler-icon:hover {
    background-color: #808080;
}

/*Text na webu*/
h1 {
    border-top: 1px solid #336;
    margin: 1.3em 0px .3em;
}
.velke {
    font-size: 2.0rem;
    padding-top: 10px;
    text-align: left;
}

.podtitul {
    font-size: 1.5rem;
    margin-top: 10px;
    text-align: left;
    padding-top: 10px;

}
/* --- Navigacni panel --- */
.navbar-nav .nav-link {
    color: white; /* Zajistí bílou barvu textu */
    font-size: 1.2rem;
}
.navbar-nav .nav-link:hover {
    color: #808080; /* Změní barvu při hover */
}
.navbar-collapse.show {
    color: black; /* Černé písmo pro položky menu, když je navbar otevřený */
    background-color: #333;
}
/* tlacitko zpet na horu */
#scrolujnahoru {
  display: none; /* skryté na začátku */
  position: fixed;
  bottom: 20px;
  right: 20px; /* v levém dolním rohu */
  z-index: 100;
  background-color: black;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 10px;

  font-size: 24px;
  transition: all 0.3s ease;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

#scrolujnahoru:hover {
  background-color: #808080;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}
.obsah {
    margin: 0px auto;
    width: 70%;
    background-color: white;
    background-position: center;

}
.textvobr {
    position: sticky;
    font-size: 1.5rem;
    margin-top: 10px;
    text-align: center;
    padding: 10px;
    z-index: 2;
}
.socky {
    color: black;
    padding: 3px;
}
.socky:hover {
    color: #f0a500;
}
.scroll-container {
    height: 100vh;
    overflow-y: scroll; /* Add scrolling to the container */
    scroll-snap-type: y mandatory; /* Mandates snapping to targets */
    scroll-behavior: smooth;
}
.obrazky {
    text-align: center;
}
