/* Základní reset a nastavení */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #f9f9f9;
}

/* Sekce pro obrázek na pozadí */
.hero-section {
    position: relative;
    background-image: url("/test/static/pictures/uvod_1.JPG"); /* Opravená relativní cesta k obrázku */
    background-size: cover;
    background-position: center;
    z-index: 1;
    width: 100%;
    height: 100vh; /* Pokryje celou výšku okna */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    margin-top: -60px;
}

/* Overlay pro tmavší pozadí */
/*.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Poloprůhledné tmavé pozadí */
    /*z-index: 1; /* Overlay bude pod textem */
/*}*/

/* Navigace */
.navbar {
    position: sticky; /* absolute, sticky (funguje spatne) */
    top: 0;
    left: 0;
    right: 0;
    z-index: 2; /* Navigace bude nad overlay */
    background: rgba(0,0,0,0);
}
.navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.4) !important;
}

/*Text na webu*/
.velke {
    z-index: 2; /* Text bude nad overlay */
    font-size: 3rem;
    font-weight: 700;
    padding: 20px;
    text-align: left;
}
.podtitul {
    font-size: 1.5rem;
    margin-top: 10px;
    text-align: left;
    padding: 10px;

}
/* Styl pro položky v navbaru */
.navbar-nav .nav-link {
    color: white !important; /* Zajistí bílou barvu textu */
    font-size: 1.2rem;
}

.navbar-nav .nav-link:hover {
    color: #f0a500 !important; /* Změní barvu při hover */
}
.navbar-brand {
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}
.navbar-brand:hover {
    color: #f0a500 !important; /* Změní barvu při hover */
}
.navbar-toggler {
    border-color: white !important; /* bílý rámeček */
}
/* tlacitko zpet na horu */
#scrolujnahoru {
  display: none; /* skryté na začátku */
  position: fixed;
  bottom: 20px;
  right: 20px; /* v levém dolním rohu */
  z-index: 100;
  background-color: gold;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 10px;

  font-size: 24px;
  transition: all 0.3s ease;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

#scrolujnahoru:hover {
  background-color: gold;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}
#obsah {
    margin: 150px 3% 0px 3%;
    width: 90%;
    background-color: white;
}
.textvobr {
    position: sticky;
    font-size: 2rem;
    margin-top: 10px;
    text-align: center;
    padding: 10px;
    z-index: 2;
}
.socky {
    color: black;
    padding: 3px;
}
.socky:hover {
    color: #f0a500;
}
.scroll-container {
    height: 100vh;
    overflow-y: scroll; /* Add scrolling to the container */
    scroll-snap-type: y mandatory; /* Mandates snapping to targets */
    scroll-behavior: smooth;
}
