<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fragmenta</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand" href="/"><i class="bi bi-cup" style="color: gold"></i> FRAGMENTA</a>
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li>
                            <a class="nav-link" href="#laborator">Laboratoř</a>
                        </li>
                        <li>
                            <a class="nav-link" href="#sluzby">Služby</a>
                        </li>
                        <li>
                            <a class="nav-link" href="#prace">Práce</a>
                        </li>
                        <li>
                            <a class="nav-link" href="#tym">Tým</a>
                        </li>
                        <li>
                            <a class="nav-link" href="#kontakt">Kontakt</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    <!-- Hero Sekce s obrázkem na pozadí -->
    <div class="hero-section">
        <!-- Navigace přímo v hero sekci -->
        <p class="textvobr">Laboratoř pro konzervaci a restaurování<br>keramických materiálů
        </p>
    </div>

    <!-- Další obsah stránky -->
    <div class="scroll-container" id="scroll-container">
        <div id="obsah">
            <h1 class="velke" id="laborator">Laboratoř</h1>
            <p class="podtitul">Fragmenta je odborná laboratoř specializovaná na konzervaci, restaurování a
                 materiálový průzkum keramických artefaktů.<br>
            <br>
            Laboratoř se věnuje odbornému zpracování archeologických nálezů,
                etnografických a památkově chráněných předmětů z keramiky, terakoty a
                porcelánu, s využitím tradičních a současných restaurátorských technik i
                vědeckých analytických metod.
            </p>
        </div>
        <div id="obsah">
            <h1 class="velke" id="sluzby">Služby</h1>
            <p class="podtitul">Nabídka odborných služeb v oblasti:</p>
            <ul class="podtitul">
                <li>Konzervace a restaurování keramických materiálů</li>
                <li>Základní laboratorní průzkum a analýza materiálu</li>
                <li>Dokumentace a fotodokumentace stavu předmětů</li>
                <li>Zpracovávání výstupů pro evidenční systémy, publikace a výstavy</li>
                <li>Odborné konzultace pro instituce, muzea i archeologické týmy</li>
                <li>Výroba a oprava vnitřních i venkovních štuků</li>
                <li>Zhotovení sádrových a silikonových forem</li>
                <li>Kintsugi opravy porcelánu a keramiky (tradiční i moderní přístupy)</li>
                <li>Vzdělávací workshopy</li>
            </ul>
            <p class="podtitul">Hlavním zaměřením je dlouhodobé uchování a čitelná prezentace
                keramického kulturního dědictví v souladu s aktuálními etickými a
                metodickými standardy památkové péče a vědecké dokumentace.</p>
        </div>
        <div id="obsah">
            <h1 class="velke" id="prace">Práce</h1>

            <h1 class="velke" id="tym">Tým</h1>
            <p class="podtitul">Fragmenta je tvořena týmem restaurátorů, konzervátorů a odborníků na materiálový průzkum se specializací na keramiku. Spojuje řemeslnou odbornost, vědecký přístup a zkušenosti z terénních i sbírkových projektů.<br>
                <br>
                <b>Mgr. Veronika Pluške, DiS.</b><br>
                <b>Vedoucí laboratoře, restaurátorka keramických materiálů</b><br>
                <br>
                Specializuje se na konzervaci a restaurování archeologických nálezů z keramiky a na metodiku rekonstrukce historické keramiky. Má zkušenosti z mezioborových restaurátorských projektů a výstavních příprav.
                Je držitelkou povolení k restaurování kulturních památek uděleného Ministerstvem kultury ČR pro uměleckořemeslná díla z keramiky a porcelánu.
                Absolvovala také praktický kurz tradiční japonské techniky kintsugi v Japonsku, který rozšířil její přístup k etice restaurování i k estetice vizuálních zásahů.<br>
                <br>
                Spolupracujeme také s dalšími restaurátory, archeology a analytickými laboratořemi dle potřeb konkrétních projektů.
            </p>
        </div>
        <div id="obsah">
            <h1 class="velke" id="kontakt">Kontakt</h1>
            <p class="podtitul">
                Laboratoř Fragmenta<br>
                📍 Ústav materiálové péče, Archeologické centrum XYZ<br>
                ✉️ info@fragmenta-lab.cz<br>
                📞 +420 123 456 789<br>
                🌐 www.fragmenta-lab.cz<br>
            </p>
        </div>
    </div>




    <!-- Footer -->
    <footer class="text-center py-3">
        © 2025 Fragmenta. Všechna práva vyhrazena.
        <a class="socky"  href="https://www.instagram.com/madam.porcelan/" target="_blank">
        <i class="bi bi-instagram"></i>
        </a>
        <a class="socky"  href="https://www.facebook.com/madam.porcelan/" target="_blank">
        <i class="bi bi-facebook"></i>
        </a>
    </footer>



<button id="scrolujnahoru"> <!-- tlacitko scroluj nahoru -->
  <i class="bi bi-arrow-up-short"></i>
</button>
<script src="{{ url_for('static', filename='js/scrolujnahoru.js') }}"></script> <!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script> <!-- scrolujnahoru JS -->
<script src="{{ url_for('static', filename='js/navbarscrol.js') }}"></script>
</body>
</html>
